*{
  margin:0;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  padding: 0;
}
h1{
  font-family: "Cabin Sketch", sans-serif;
  font-weight:bold;
  font-size: 40px;
  margin-left: 10px;
  color: #fff;
}
h1 span:hover{
  color: #FFCA00;
    /*-webkit-transform: scale(1.2);*/
  -webkit-transition: all .3s ease-in-out;
}
nav{
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #003366;
  border-bottom: 1px solid #D4D4D5;
}
.maincontent{
  display: flex;
  flex-direction: row;
}
